/* * {
    font-size: 16px;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

form{
    border: 1px solid red;
    padding: 20px;
    width: 940px;
    margin: 0 auto;
}
a{
    font-family: 'Oswald', sans-serif;
}
li{
    display: inline-block;
    margin: 20px;
}
.fi_img, .fi_but{
    border-style: none;
}

footer{
    font-family: 'Roboto Mono', monospace;
}

h1{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}