/* en */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cormorant+Infant&family=Pacifico&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Fira+Code&family=Gabriela&family=Press+Start+2P&family=STIX+Two+Text&family=Vollkorn+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

/* ko */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

.en_font_1{
    font-family: 'Roboto', sans-serif;
}
.en_font_2{
    font-family: 'Zen Antique Soft', serif;
}
.en_font_3{
    font-family: 'Zen Antique', serif;
}
.en_font_4{
    font-family: 'Noto Serif', serif;
}
.en_font_5{
    font-family: 'Noto Sans', sans-serif;
}
.en_font_6{
    font-family: 'Noto Sans Mono', monospace;
} 
.en_font_7{
    font-family: 'Rubik Beastly', cursive;
}
.en_font_8{
    font-family: 'Lobster', cursive;
}

.en_font_9{
    font-family: 'Pacifico', cursive;
}
.en_font_10{
    font-family: 'Caveat', cursive;
}

.en_font_11{
    font-family: 'Bad Script', cursive;
}
.en_font_12{
    font-family: 'Cormorant Infant', serif;
}
.en_font_13{
    font-family: 'Rampart One', cursive;
}
.en_font_14{
    font-family: 'Cormorant Infant', serif;
}
.en_font_15{
    font-family: 'Fira Code', monospace;
}
.en_font_16{
    font-family: 'Gabriela', serif;
}
.en_font_17{
    font-family: 'Press Start 2P', cursive;
}
.en_font_18{
    font-family: 'STIX Two Text', serif;
}
.en_font_19{
    font-family: 'Vollkorn SC', serif;
}
.en_font_20{
    font-family: 'Viaoda Libre', cursive;
}

.ko_font_01{
    font-family: 'Nanum Gothic Coding', monospace;
}